.nav-bar-container {
    /*max-width: 750px;*/
    margin: 0;
    /* TODO: Make this a flex container and align it's items to the center*/
    display: flex;
    flex-direction: column;

}

.nav-bar-tab {
    /*justify-content: flex-end;*/
    align-items: center;
}

/*.card {*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    !*  TODO: Change this flex items basis to 100% of the page  *!*/
/*    flex-basis: 100%;*/
/*}*/

/*.container {*/
/*    max-width: 750px;*/
/*    margin: 0 auto;*/
/*    !* TODO: Make this a flex container and align it's items to the center*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/