@media screen and (max-width: 1026px) {
    html {
        font-size:16px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        width: auto;
    }

    .container, .container-md, .container-sm {
        max-width: inherit;
    }

    .dropdown-selections {
        color: whitesmoke;
        /*margin: 2em;*/
        padding: 1em;
    }

    .dropdown-selections:nth-child(1) {
        color:goldenrod;
        padding-bottom: 3em;
        padding-top: 3em;
    }

    .dropdown-selections:nth-child(3) {
        border-top: 2px solid darkgoldenrod;
        width: 245px;
        margin: 0;
        padding: 0;
    }


    .title-div {
        margin: 50px 75px 75px;
        font-family: 'Open Sans', sans-serif;
        display: block;
        width: 250px;
    }

    .btn-group {
        width: 20px;
    }

    .btn {
        position: absolute;
        top: 95%;
        right: -2951%;
        bottom: 25%;
        line-height: 1.6em;
        font-weight: 300;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0;
        /* background: none; */
    }

    /*stupid tiny dropdown arrow*/
    .dropleft .dropdown-toggle::before {
        color: transparent;
    }

    /*menu button*/
    .btn-secondary {
        margin-left: 3px;
        color: black;
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        font-weight: 400;
    }

    /*active menu button*/
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
        color: black;
        background-color: inherit;
        border-color: #4e555b;
    }

    .btn-secondary:hover {
        color: white;
        background-color: grey;
        /* border-color: rgb(84, 91, 98); */
    }


    .sa-jet-title {
        font-size: x-large;
        display: inline-block;
    }

    .nav-bar-container {
        display: none;
        max-width: 150px;
        max-height: 550px;
        margin: 0;
        /* TODO: Make this a flex container and align it's items to the center*/
        flex-direction: column;
        /*justify-content: flex-end;*/
        /*align-self: center;*/
    }

    .nav-bar-tab {
        /*justify-content: flex-end;*/
        /*align-items: center;*/
        width: fit-content;
        margin: 50px;
        border: none;
    }
}


/*.card {*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    !*  TODO: Change this flex items basis to 100% of the page  *!*/
/*    flex-basis: 100%;*/
/*}*/

/*.container {*/
/*    max-width: 750px;*/
/*    margin: 0 auto;*/
/*    !* TODO: Make this a flex container and align it's items to the center*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/