#container h1.fancy-header {
    color: blue;
    text-align: center;
}

#background {
    background-color:grey;
}

table {
    padding: 10px;
    text-align: left;
    background-color: yellowgreen;
    border: 5px solid black;
}


li:before {
    content: '\1F95E';
    margin-left: -28px;
    margin-right: 1px;
}

body {
    font: normal 20px Verdana, Arial, sans-serif;
}

